*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul 
{
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

.hero_section
{
   display: flex;

}


.box
{
    height: 90vh;
    width: 50%;
    padding-left: 80px;
}
.box h1
{
    font-size: 70px;
   
    margin-top: 60px;

}

.box button
{
    background-color: black;
    color: whitesmoke;
}

.box p
{
    margin-bottom: 30px;
}

.box img
{
    margin-top: 50px;
}


.box_two
{
    padding-left: 50px;
}